.content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #333;
  margin-left: 0%;
  border: 0%;
  justify-content: space-around;
  color: #fff;
}

.footer-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}

.social-icons a i {
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover i {
  transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  footer {
      flex-direction: column;
      text-align: center;
  }
  .footer-links {
      margin-bottom: 20px;
  }
}
