<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .logo img {
        height: 50px;
    }
    
    .nav-links a {
        margin-left: 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    
    .cta button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .img-box img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .description-box {
        flex: 1;
        margin-left: 50px;
    }
    
    .description-box h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .description-box p {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }
</style>


<body>
    <div class="container" style="margin-left: 30%; margin-right: 10%;">
        <div class="img-box">
            <img src="../../../assets/logo-leyenda.png" alt="Imagen de ejemplo">
        </div>
        <div class="description-box" style="padding-right: 35%;">
            <h2>Bienvenido a Cines ABC: ¡La mejor experiencia de cine!</h2>
            <p>
                Vive una experiencia única en Cines ABC, donde el cine se convierte en una verdadera aventura. ¡Te esperamos!
            </p>
        </div>
    </div>

</body>